---
title: Textures and abstract imagery
description: "Putting abstract imagery to work"
date: 2015-08-26 12:35 CEST
tags: photography, abstract, experiment
public: true
category: none
alternate: true
ogp:
  og:
    image:
      '': http://mariusnedelcu.com/images/2015-08-26-textures-and-abstract-imagery/inverse_leaves.jpg
      type: image/png
      width: 992
      height: 525
---

<div class="sidebar">
  <figure>
    <%= image_tag '2015-08-26-textures-and-abstract-imagery/glass.jpg' %>
  </figure>
</div>

A photo it is said makes more than a thousand words. Could you say a thousand words about the view out of your window? I can, you probably can doit to and that's maybe because you know what you are looking at and understand the reality out there, to a certain degree. The ongoing motion, the space, the time, by having yourself a place in it, behind the window.

Looking at a photography is somewhat like looking trough a window, only that your place in relation to it and the ongoing narrative is not always so evident. But after some thinking we make sense of it and then we can maybe say it makes more than a thousand words.

READMORE

How about abstract photography? It's of a different nature; it sends the viewer on a journey it stimulates the imagination, it is a beast unchained... a phantom that hunts you and eludes your reason. 
You can feel in a certain way about it, like it, not like it, fell in love with or hate it. Abstract doesn't make you reason it plays on emotion, it makes you feel a certain way. This is why I use it sometime in my work, for the effect.

<div class="sidebar">
  <figure>
    <%= image_tag '2015-08-26-textures-and-abstract-imagery/gelly.jpg' %>
  </figure>
</div>

The designer has the power to controlled how the message is emphasied, parts of it can be amplified with highly articulate meaning while others let loose. The beauty is in the harmonious alternance of these two states, the effectiveness is given by the interplay between abstract and  concrete.

Lately I become very fond of abstract photography and made a little collection of them - an ongoing exploration to call it so. These images are taken (and sometimes edited) with my phone, a HTC m8. I gladly make this available for everybody to use as they wish in their graphic design work.

Give credit if you want or reach me out on twitter [@nedzen](http://www.twitter.com/@nedzen)

See more on flickr in the [Experiments album](https://flic.kr/s/aHsknqNTx1). I hope these example makes you look closer next time you see abstract images used in design work.

<ul class="thumbnails c3">
  <li><%= link_to image_tag('2015-08-26-textures-and-abstract-imagery/cactus_leaf.jpg', :alt => 'flickr'), 'https://www.flickr.com/photos/mariusnedelcu/20643075561/sizes/l', :target => '_blank'%></li>
  <li><%= link_to image_tag('2015-08-26-textures-and-abstract-imagery/inverse_leaves.jpg', :alt => 'flickr'), 'https://www.flickr.com/photos/mariusnedelcu/20251136755/sizes/l', :target => '_blank'%></li>
  <li><%= link_to image_tag('2015-08-26-textures-and-abstract-imagery/magnetized.jpg', :alt => 'flickr'), 'https://www.flickr.com/photos/mariusnedelcu/20144017722/sizes/l', :target => '_blank'%></li>
  <li><%= link_to image_tag('2015-08-26-textures-and-abstract-imagery/asone.jpg', :alt => 'flickr'), 'https://www.flickr.com/photos/mariusnedelcu/22074030488/sizes/l', :target => '_blank'%></li>
  <li><%= link_to image_tag('2015-08-26-textures-and-abstract-imagery/leaf.jpg', :alt => 'flickr'), 'https://www.flickr.com/photos/mariusnedelcu/22072869490/sizes/l', :target => '_blank'%></li>
  <li><%= link_to image_tag('2015-08-26-textures-and-abstract-imagery/rock.jpg', :alt => 'flickr'), 'https://www.flickr.com/photos/mariusnedelcu/20956821709/sizes/l', :target => '_blank'%></li>
  <li><%= link_to image_tag('2015-08-26-textures-and-abstract-imagery/spining.jpg', :alt => 'flickr'), 'https://www.flickr.com/photos/mariusnedelcu/19568447009/sizes/l', :target => '_blank'%></li>
  <li><%= link_to image_tag('2015-08-26-textures-and-abstract-imagery/car_moving.jpg', :alt => 'flickr'), 'https://www.flickr.com/photos/mariusnedelcu/16882649092/sizes/l', :target => '_blank'%></li>
  <li><%= link_to image_tag('2015-08-26-textures-and-abstract-imagery/lights.jpg', :alt => 'flickr'), 'https://www.flickr.com/photos/mariusnedelcu/16684876847/sizes/l', :target => '_blank'%></li>
  <li><%= link_to image_tag('2015-08-26-textures-and-abstract-imagery/night_sky.jpg', :alt => 'flickr'), 'https://www.flickr.com/photos/mariusnedelcu/17117051932/sizes/l', :target => '_blank'%></li>
  <li><%= link_to image_tag('2015-08-26-textures-and-abstract-imagery/bug.jpg', :alt => 'flickr'), 'https://www.flickr.com/photos/mariusnedelcu/21272138342/sizes/l', :target => '_blank' %></li>
  <li><%= link_to image_tag('2015-08-26-textures-and-abstract-imagery/gold_foil.jpg', :alt => 'flickr'), 'https://www.flickr.com/photos/mariusnedelcu/19440060120/sizes/l/', :target => '_blank' %>
  <li><%= link_to image_tag('2015-08-26-textures-and-abstract-imagery/glass_noir.jpg', :alt => 'flickr'), 'https://www.flickr.com/photos/mariusnedelcu/21085589546/sizes/l', :target => '_blank' %>
  <li><%= link_to image_tag('2015-08-26-textures-and-abstract-imagery/matter.jpg', :alt => 'flickr'), 'https://www.flickr.com/photos/mariusnedelcu/22943042479/sizes/l', :target => '_blank' %>
  <li><%= link_to image_tag('2015-08-26-textures-and-abstract-imagery/veins.jpg', :alt => 'flickr'), 'https://www.flickr.com/photos/mariusnedelcu/20660009904/sizes/l/', :target => '_blank' %>
</ul>
