---
title: "A font made with the golden section :stuck_out_tongue_winking_eye:"
description: "Looking out for different ways to integrate content"
date: 2015-08-17 21:56
tags: typography, experiment
public: true
alternate: true
ogp:
  og:
    image:
      '': http://mariusnedelcu.com/images/2015-08-17-qu-font-golden-section/c_A.png
      type: image/png
      width: 992
      height: 525
---

<div id="qu-showcase">
	<%= image_tag 'images/2015-08-17-qu-font-golden-section/qu_mask.png', :class => 'qu-mask' %>
	<div>
		<ul>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/c_A.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/c_B.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/c_C.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/c_D.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/c_E.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/c_F.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/c_G.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/c_H.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/c_I.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/c_J.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/c_K.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/c_L.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/c_M.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/c_N.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/c_O.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/c_P.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/c_Q.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/c_R.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/c_S.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/c_T.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/c_U.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/c_V.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/c_W.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/c_X.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/c_Y.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/c_Z.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/n_1.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/n_2.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/n_3.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/n_4.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/n_5.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/n_6.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/n_7.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/n_8.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/n_9.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/n_0.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/l_a.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/l_b.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/l_c.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/l_d.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/l_e.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/l_f.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/l_g.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/l_h.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/l_i.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/l_j.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/l_k.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/l_l.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/l_m.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/l_n.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/l_o.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/l_p.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/l_q.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/l_r.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/l_s.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/l_t.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/l_u.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/l_v.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/l_w.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/l_x.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/l_y.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/l_z.png' %></li>
		</ul>
	</div>
</div>

When I started to design this font I had absolutely no idea how fonts are made, what softwares to use and what are the basic rules of a font making. To be honest I didn’t even know that I’m going to end up with a font.

It started with one of the most fascinating aesthetic rule in the world. The golden section. I was on an experimental quest of figuring out what can come out from a golden rectangle sectioned several times using this rule. It took some good hours of work as I had to learn some of the basic rules of using the software and inevitably I learned about some of the basic rules of font-making.

READMORE

## The Uppercase

<ul class="qu-grid clearfix">
	<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/c_A.png' %><i>A</i></li>
	<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/c_B.png' %><i>B</i></li>
	<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/c_C.png' %><i>C</i></li>
	<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/c_D.png' %><i>D</i></li>
	<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/c_E.png' %><i>E</i></li>
	<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/c_F.png' %><i>F</i></li>
	<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/c_G.png' %><i>G</i></li>
	<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/c_H.png' %><i>H</i></li>
	<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/c_I.png' %><i>I</i></li>
	<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/c_J.png' %><i>J</i></li>
	<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/c_K.png' %><i>K</i></li>
	<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/c_L.png' %><i>L</i></li>
	<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/c_M.png' %><i>M</i></li>
	<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/c_N.png' %><i>N</i></li>
	<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/c_O.png' %><i>O</i></li>
	<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/c_P.png' %><i>P</i></li>
	<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/c_Q.png' %><i>Q</i></li>
	<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/c_R.png' %><i>R</i></li>
	<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/c_S.png' %><i>S</i></li>
	<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/c_T.png' %><i>T</i></li>
	<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/c_U.png' %><i>U</i></li>
	<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/c_V.png' %><i>V</i></li>
	<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/c_W.png' %><i>W</i></li>
	<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/c_X.png' %><i>X</i></li>
	<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/c_Y.png' %><i>Y</i></li>
	<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/c_Z.png' %><i>Z</i></li>
</ul>

The letter A was the first one to construct not this ‘golden’ grid, then I made all the uppercase after the lowercase and the numerals and then some glyphs.

## The Lowercase

<ul class="qu-grid clearfix">
	<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/l_a.png' %><i>a</i></li>
	<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/l_b.png' %><i>b</i></li>
	<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/l_c.png' %><i>c</i></li>
	<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/l_d.png' %><i>d</i></li>
	<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/l_e.png' %><i>e</i></li>
	<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/l_f.png' %><i>f</i></li>
	<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/l_g.png' %><i>g</i></li>
	<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/l_h.png' %><i>h</i></li>
	<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/l_i.png' %><i>i</i></li>
	<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/l_j.png' %><i>j</i></li>
	<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/l_k.png' %><i>k</i></li>
	<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/l_l.png' %><i>l</i></li>
	<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/l_m.png' %><i>m</i></li>
	<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/l_n.png' %><i>n</i></li>
	<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/l_o.png' %><i>o</i></li>
	<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/l_p.png' %><i>p</i></li>
	<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/l_q.png' %><i>q</i></li>
	<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/l_r.png' %><i>r</i></li>
	<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/l_s.png' %><i>s</i></li>
	<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/l_t.png' %><i>t</i></li>
	<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/l_u.png' %><i>u</i></li>
	<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/l_v.png' %><i>v</i></li>
	<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/l_w.png' %><i>w</i></li>
	<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/l_x.png' %><i>x</i></li>
	<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/l_y.png' %><i>y</i></li>
	<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/l_z.png' %><i>z</i></li>
</ul>

As :video_game: :shipit: you can se some letters fall out of the traditional aesthetique of a font. The q the g the r the q the y the n and m, are unusual. I made them like that because I want to give Qu an alien look. Not from with a rebel intention but from mere innocence of not knowing the rules.

## The numerals

<ul class="qu-grid clearfix">
	<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/n_0.png' %><i>0</i></li>
	<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/n_1.png' %><i>1</i></li>
	<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/n_2.png' %><i>2</i></li>
	<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/n_3.png' %><i>3</i></li>
	<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/n_4.png' %><i>4</i></li>
	<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/n_5.png' %><i>5</i></li>
	<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/n_6.png' %><i>6</i></li>
	<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/n_7.png' %><i>7</i></li>
	<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/n_8.png' %><i>8</i></li>
	<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/n_9.png' %><i>9</i></li>
</ul>

:smile: Zero to 9 these letters are perfectly well adjusted :alien: , for small or large numbers.

## The glyphs

<ul class="qu-grid clearfix">
	<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/qu_exclamation_mark.png'%><i>!</i></li>
	<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/qu_double_quotes.png'%><i>"</i></li>
	<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/qu_hashtag.png'%><i>#</i></li>
	<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/qu_dolar_sign.png'%><i>$</i></li>
	<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/qu_percentage.png'%><i>%</i></li>
	<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/qu_ampersand.png'%><i>&amp;</i></li>
	<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/qu_simplequote.png'%><i>'</i></li>
	<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/qu_parentese_left.png'%><i>(</i></li>
	<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/qu_parentese_right.png'%><i>)</i></li>
	<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/qu_asterix.png'%><i>*</i></li>
	<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/qu_plus.png'%><i>+</i></li>
	<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/qu_virgule.png'%><i>,</i></li>
	<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/qu_minus.png'%><i>-</i></li>
	<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/qu_dot.png'%><i>.</i></li>
	<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/qu_slash.png'%><i>/</i></li>
	<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/qu_colon.png'%><i>:</i></li>
	<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/qu_semicolon.png'%><i>;</i></li>
	<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/qu_small.png'%><i>&lt;</i></li>
	<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/qu_equal.png'%><i>=</i></li>
	<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/qu_big.png'%><i>&gt;</i></li>
	<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/qu_question_mark.png'%><i>?</i></li>
	<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/qu_arond.png'%><i>@</i></li>
	<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/qu_bracket_left.png'%><i>[</i></li>
	<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/qu_backslash.png'%><i>\</i></li>
	<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/qu_bracket_right.png'%><i>]</i></li>
	<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/qu_underscore.png'%><i>_</i></li>
	<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/qu_accolade_left.png'%><i>{</i></li>
	<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/qu_line.png'%><i>|</i></li>
	<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/qu_accolade_right.png'%><i>}</i></li>
	<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/qu_approx.png'%><i>~</i></li>
</ul>

## What I like about Qu.

I named it like Qu because it accentuates on something that is invisible, Like when you pronounce the letter Q there’s an invisible ‘u’ sound heard at the end. I added an ‘u’ after the Q to create a mere role of amplifying. As in the aesthetics of the font, where golden section is emphasised in the context of typography. You don’t see the golden section but you can see the letters. An unusual almost monospaced font best looking in large for a world or two three four or five, In a heading. It’s definitely not the kind of font to use in a book or a full article. to be used in small quantities.

You are welcome to Download it. If you feel you can improve or add something to it you are welcome. Just fork the repo on Github. For the moment I do the kerning by hand. It needs some help there.