---
title: 'Maintaining multilingual Middleman blogs'
# date: TBD When publishing
tags: middleman
# public: true
---


Further experiments with abstractions of leaves , [in the same album](https://www.flickr.com/gp/mariusnedelcu/Er3hKY).

<ul class="thumbnails c2">
  <li><%= link_to image_tag('2015-08-26-textures-and-abstract-imagery/leaf_a.gif', :alt => 'flickr'), 'https://www.mariusnedelcu.com/images/2015-08-26-textures-and-abstract-imagery/leaf_a.gif', :target => '_blank'%></li>
  <li><%= link_to image_tag('2015-08-26-textures-and-abstract-imagery/leaf_b.gif', :alt => 'flickr'), 'https://www.mariusnedelcu.com/images/2015-08-26-textures-and-abstract-imagery/leaf_b.gif', :target => '_blank'%></li>
</ul>

##Experimenting - abstraction of an abstract image

But what happens when you look very closely at an abstract image, what hidden parts of it might reveal something entirely new ? All you have to do is to look closer, seriously the experiment below is mainly based on zooming and secondarily on applying diferent filters to emphasize the shapes comming into view.

In this case this image will tell a story but of a different type, That of how a computer creates displays an image. When you zoom in an image pixels are either enlarged (ex Photoshop) or resampled (preview in mac)

<figure>
  <%= image_tag '2015-08-26-textures-and-abstract-imagery/interferrence_detail.gif', :alt => 'pixel resampling art' %>
  <figcaption>Pixels resampling</figcaption>
</figure>

<figure>
  <%= image_tag '2015-08-26-textures-and-abstract-imagery/detail_resampling.jpg', :alt => 'pixel resampling art' %>
  <figcaption>Pixels resampling</figcaption>
</figure>

<ul class="thumbnails c2">
  <li><%= link_to image_tag('2015-08-26-textures-and-abstract-imagery/detail_red.jpg', :alt => 'flickr'), 'https://www.flickr.com/photos/mariusnedelcu/22261634895/sizes/l', :target => '_blank'%></li>
  <li><%= link_to image_tag('2015-08-26-textures-and-abstract-imagery/detail_burn.jpg', :alt => 'flickr'), 'https://www.flickr.com/photos/mariusnedelcu/22235504026/sizes/l', :target => '_blank'%></li>
  <li><%= link_to image_tag('2015-08-26-textures-and-abstract-imagery/pixel_square.jpg', :alt => 'flickr'), 'https://www.flickr.com/photos/mariusnedelcu/21094585560/sizes/l', :target => '_blank'%></li>
  <li><%= link_to image_tag('2015-08-26-textures-and-abstract-imagery/pixel_corner.jpg', :alt => 'flickr'), 'https://www.flickr.com/photos/mariusnedelcu/22272065501/sizes/l', :target => '_blank'%></li>
</ul>

