---
title: Textures and abstract imagery
description: "Using abstract images to create textures in your Graphic design work"
date: 2015-08-26 13:40
tags: photography, abstract, experiment
public: true
category: none
alternate: true
ogp:
  og:
    image:
      '': http://mariusnedelcu.com/images/2015-08-26-textures-and-abstract-imagery/inverse_leaves.jpg
      type: image/png
      width: 992
      height: 525
---

<div class="sidebar">
  <figure>
    <%= image_tag '2015-08-26-textures-and-abstract-imagery/inverse_leaves.jpg' %>
    <figcaption>Leafs inverted</figcaption>
  </figure>
</div>

test faut ecrire en FR: a photograpy, it is said, can tell more than a thousand words. Yes, I agree but how ? It seams to me that we interpret it in an instant with a deeply rooted empathy and we build the narative in our minds with minimal verbalization by putting in motion or simply analysing what we see. 

In grapic design we use images. They can play a central role in the work being done, or secondary, just siding or mixed with written content, almost always to convey the intended message. 

But what happens when you putt abstract images into graphic design work ? The grip on meaning loosens allowing for a more subjective interpretation of what is looked at. This I suppose, imposes a certain mood on the viewer affecting the way he feels about the larger context. Abstract images play on emotion. It is like this how we make sense of things we see and we don't understand, we feel in a certain way about them.

READMORE

Lately I become very fond of abstract photography and have made a little collection of them that now, I am glad to share with you. These images are taken (and sometimes edited) with my phone, a HTC m8. I make this available for everybody to use as they wish in their graphic design work. Maybe you want to share your creations with me reach me out on twitter [@nedzen](http://www.twitter.com/@nedzen) .

<ul class="thumbnails c3">
  <li><%= link_to image_tag('2015-08-26-textures-and-abstract-imagery/cactus_leaf.jpg', :alt => 'flickr'), 'https://www.flickr.com/photos/mariusnedelcu/20643075561/sizes/l', :target => '_blank'%></li>
  <li><%= link_to image_tag('2015-08-26-textures-and-abstract-imagery/gelly.jpg', :alt => 'flickr'), 'https://www.flickr.com/photos/mariusnedelcu/20251136755/sizes/l', :target => '_blank'%></li>
  <li><%= link_to image_tag('2015-08-26-textures-and-abstract-imagery/magnetized.jpg', :alt => 'flickr'), 'https://www.flickr.com/photos/mariusnedelcu/20144017722/sizes/l', :target => '_blank'%></li>
  <li><%= link_to image_tag('2015-08-26-textures-and-abstract-imagery/glass.jpg', :alt => 'flickr'), 'https://www.flickr.com/photos/mariusnedelcu/22074030488/sizes/l', :target => '_blank'%></li>
  <li><%= link_to image_tag('2015-08-26-textures-and-abstract-imagery/leaf.jpg', :alt => 'flickr'), 'https://www.flickr.com/photos/mariusnedelcu/22072869490/sizes/l', :target => '_blank'%></li>
  <li><%= link_to image_tag('2015-08-26-textures-and-abstract-imagery/rock.jpg', :alt => 'flickr'), 'https://www.flickr.com/photos/mariusnedelcu/20956821709/sizes/l', :target => '_blank'%></li>
  <li><%= link_to image_tag('2015-08-26-textures-and-abstract-imagery/spining.jpg', :alt => 'flickr'), 'https://www.flickr.com/photos/mariusnedelcu/19568447009/sizes/l', :target => '_blank'%></li>
  <li><%= link_to image_tag('2015-08-26-textures-and-abstract-imagery/car_moving.jpg', :alt => 'flickr'), 'https://www.flickr.com/photos/mariusnedelcu/16882649092/sizes/l', :target => '_blank'%></li>
  <li><%= link_to image_tag('2015-08-26-textures-and-abstract-imagery/lights.jpg', :alt => 'flickr'), 'https://www.flickr.com/photos/mariusnedelcu/16684876847/sizes/l', :target => '_blank'%></li>
  <li><%= link_to image_tag('2015-08-26-textures-and-abstract-imagery/night_sky.jpg', :alt => 'flickr'), 'https://www.flickr.com/photos/mariusnedelcu/17117051932/sizes/l', :target => '_blank'%></li>
  <li><%= link_to image_tag('2015-08-26-textures-and-abstract-imagery/bug.jpg', :alt => 'flickr'), 'https://www.flickr.com/photos/mariusnedelcu/21272138342/sizes/l', :target => '_blank' %></li>
  <li><%= link_to image_tag('2015-08-26-textures-and-abstract-imagery/gold_foil.jpg', :alt => 'flickr'), 'https://www.flickr.com/photos/mariusnedelcu/19440060120/sizes/l/', :target => '_blank' %>
</ul>

All images are in high resolution on flickr, [in this Album](https://www.flickr.com/gp/mariusnedelcu/Er3hKY).

##Experimenting - abstraction of an abstract image

But what happens when you look very closely at an abstract image, what hidden parts of it might reveal something entirely new ? All you have to do is to look closer, seriously the experiment below is mainly based on zooming and secondarily on applying diferent filters to emphasize the shapes comming into view.

In this case this image will tell a story but of a different type, That of how a computer creates displays an image. When you zoom in an image pixels are either enlarged (ex Photoshop) or resampled (preview in mac)

<figure>
  <%= image_tag '2015-08-26-textures-and-abstract-imagery/interferrence_detail.gif', :alt => 'pixel resampling art' %>
  <figcaption>Pixels resampling</figcaption>
</figure>

<figure>
  <%= image_tag '2015-08-26-textures-and-abstract-imagery/detail_resampling.jpg', :alt => 'pixel resampling art' %>
  <figcaption>Pixels resampling</figcaption>
</figure>

<ul class="thumbnails c2">
  <li><%= link_to image_tag('2015-08-26-textures-and-abstract-imagery/detail_red.jpg', :alt => 'flickr'), 'https://www.flickr.com/photos/mariusnedelcu/22261634895/sizes/l', :target => '_blank'%></li>
  <li><%= link_to image_tag('2015-08-26-textures-and-abstract-imagery/detail_burn.jpg', :alt => 'flickr'), 'https://www.flickr.com/photos/mariusnedelcu/22235504026/sizes/l', :target => '_blank'%></li>
  <li><%= link_to image_tag('2015-08-26-textures-and-abstract-imagery/pixel_square.jpg', :alt => 'flickr'), 'https://www.flickr.com/photos/mariusnedelcu/21094585560/sizes/l', :target => '_blank'%></li>
  <li><%= link_to image_tag('2015-08-26-textures-and-abstract-imagery/pixel_corner.jpg', :alt => 'flickr'), 'https://www.flickr.com/photos/mariusnedelcu/22272065501/sizes/l', :target => '_blank'%></li>
</ul>

See more on flickr in the [Experiments album](https://flic.kr/s/aHsknqNTx1). I hope these example makes you have a closer look next time you see abstract images used in design work.