---
title: "Une police de caractére crée avec la section d'or"
description: "cette article presente Qu une police de caractére que j'ai crée en utilisant la geometrie et le nombre d'or"
date: 2015-08-17 13:40
public: true
tags: typography, experiment
alternate: true
ogp:
  og:
    image:
      '': http://mariusnedelcu.com/images/2015-08-17-qu-font-golden-section/c_A.png
      type: image/jpeg
      width: 992
      height: 525
---

<div id="qu-showcase">
	<%= image_tag 'images/2015-08-17-qu-font-golden-section/qu_mask.png', :class => 'qu-mask' %>
	<div>
		<ul>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/c_A.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/c_B.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/c_C.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/c_D.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/c_E.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/c_F.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/c_G.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/c_H.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/c_I.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/c_J.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/c_K.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/c_L.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/c_M.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/c_N.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/c_O.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/c_P.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/c_Q.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/c_R.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/c_S.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/c_T.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/c_U.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/c_V.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/c_W.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/c_X.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/c_Y.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/c_Z.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/n_1.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/n_2.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/n_3.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/n_4.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/n_5.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/n_6.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/n_7.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/n_8.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/n_9.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/n_0.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/l_a.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/l_b.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/l_c.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/l_d.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/l_e.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/l_f.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/l_g.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/l_h.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/l_i.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/l_j.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/l_k.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/l_l.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/l_m.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/l_n.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/l_o.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/l_p.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/l_q.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/l_r.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/l_s.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/l_t.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/l_u.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/l_v.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/l_w.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/l_x.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/l_y.png' %></li>
			<li><%= image_tag 'images/2015-08-17-qu-font-golden-section/l_z.png' %></li>
		</ul>
	</div>
</div>

Conténu a écrire en français. bla bla bla
When I started to design this font I had absolutely no idea how fonts are made, what softwares to use and what are the basic rules of a font making. To be honest I didn’t even know that I’m going to end up with a font.

It started with one of the most fascinating aesthetic rule in the world. The golden section. I was on an experimental quest of figuring out what can come out from a golden rectangle sectioned several times using this rule. It took some good hours of work as I had to learn some of the basic rules of using the software and inevitably I learned about some of the basic rules of font-making.

READMORE

*The letter A was the first one to construct not this ‘golden’ grid, then I made all the uppercase after the lowercase and the numerals and then some glyphs*.

## What I like about Qu.

I named it like Qu because it accentuates on something that is invisible, Like when you pronounce the letter Q there’s an invisible ‘u’ sound heard at the end. I added an ‘u’ after the Q to create a mere role of amplifying. As in the aesthetics of the font, where golden section is emphasised in the context of typography. You don’t see the golden section but you can see the letters. An unusual almost monospaced font best looking in large for a world or two three four or five, In a heading. It’s definitely not the kind of font to use in a book or a full article. to be used in small quantities.

You are welcome to Download it. If you feel you can improve or add something to it you are welcome. Just fork the repo on Github. For the moment I do the kerning by hand. It needs some help there.